<section class="section1">
    <h1>TRAVEL GUIDE</h1>
</section>

<section class="section2">
    <div class="pictures">
        <img id="img1" src="https://img.freepik.com/premium-vector/empty-bus-stop-with-scheme-traffic-stop-sign-flat-vector-illustration_501173-299.jpg?w=2000" alt="image1">
        <img id="img2" src="https://i.pinimg.com/originals/93/e6/1a/93e61a17329e9224496f626c210d76da.png" alt="image2">
        <img id="img3" src="https://t4.ftcdn.net/jpg/03/23/03/35/360_F_323033547_KxnAz5lDWCWqkBicfH7glG9Kinv7WSsh.jpg" alt="image3">
    </div>
</section>

<section class="section3">
    <div class="pictures2">
        <img id="img4" src="https://image.shutterstock.com/image-vector/businessman-luggage-waiting-taxi-stand-260nw-736056808.jpg" alt="image4">
        <img id="img5" src="https://img.freepik.com/premium-vector/restaurant-building-city-background-street_165488-4443.jpg" alt="image5">
        <img id="img6" src="https://i.pinimg.com/1200x/ba/1b/92/ba1b92fd2141aef3075da367ea805eb4.jpg" alt="image6">
    </div>
</section>