<section class="about">
    <h1>About Us</h1>
    <p>
        Designed to improve the lives of people with speech and language disabilities, OneForAll is a robust and totally
        free
        communication platform. Our goal is to offer a full range of alternative and augmentative communication tools to
        enhance
        communication and promote a more inclusive society.</p>
    <p>OneForAll can provide you with bespoke AAC solutions, text-to-speech capabilities, or symbol-based communication
        boards. Come along today to have the freedom to effectively communicate your needs, feelings, and opinions to
        those you love without having to pay for it.</p>
</section>

<section class="team">
    <h1>Our Team</h1>

    <div id="about">
        <img class="right image1"
            src="/assets/Tarushi.jpg" height="400px" width="500px" alt="Concert scene" />
        <h2>Ms.Tarushi Ahlawat</h2>

        <p>
           Bonjour!!My name is Tarushi Ahlawat,and I am a glowing and an ardent front-end developer witha deep interest in the
           field of web development . Websites have always appeared fascinating to me since this is the job where I get to show case my 
           creative skills along with the technical skills.Web development is an evergreen field which enhances it more.
           Creating user friendly amd attractive websites is my ultimate Aim for the upcoming future.
        </p>

    </div>

    <div id="about">
        <img class="left image2"
            src="/assets/Komal.jpg"  height="400px" width="500px"
            alt="Concert scene" />
        <h2>Ms.Komal Gupta</h2>

        <p>
            Hello there! My name is Komal Gupta, and I am a passionate and dedicated tech enthusiast with a deep 
            interest in the field of artificial intelligence (AI). The continuous advancements and potential of AI have always fascinated me,
             inspiring me to explore this rapidly evolving field. 
            My ultimate goal is to create scalable applications that simplify everyday tasks and make a positive impact on a global scale.
        </p>

    </div>

    <div id="about">
        <img class="right image3"
            src="/assets/Priti.jpg" width="500px" height="400px"
            alt="Concert scene" />
        <h2>MS.Priti Shinde</h2>

        <p>
            Greetings, I am Priti Shinde, currently pursuing Computer Engineering at SPPU University.
             Fueled by a profound passion for technology, I remain dedicated to perpetual learning and advancement.
             With unwavering enthusiasm, I am poised to create meaningful and impactful contributions within the realm of innovation.
        </p>

    </div>
    <div id="about">
        <img class="left image4"
            src="/assets/Shweta.jpg" width="500px" height="400px"
            alt="Concert scene" />
        <h2>Ms.Shweta</h2>

        <p>
            Hello everyone, I'm Shweta, a student at The Northcap University who is currently majoring in batchelors in computer applications specializing 
            in web development.
            I continue to be committed to lifelong learning and development because of my intense passion for technology.
           
        </p>

    </div>
    <div id="about">
        <img class="right image5"
            src="/assets/Monika.jpg" height="400px" width="500px"
            alt="Concert scene" />
        <h2>Ms.Monika Sharma</h2>

        <p>
            Hello, My name is Monika and I am glad to introduce myself
             as a B Tech Computer Science student with a specialization in Artificial Intelligence
              and Machine Learning. I live in Gurugram where innovation and opportunity collide. 
              I have completed my schooling at the CCA School and currently pursuing B Tech from The Northcap University. 
              Apart from my academic pursuits, I have a passion for exercising and traveling. However, I am actively working on 
              strengthening my understanding of 
            AIML concepts and improving my presentation skills. In the long term, I aim to contribute to the field through research and development.
        </p>

    </div>
    <div id="about">
        <img class="left image6"
            src="/assets/Swati.jpg" height="400px" width="500px"
            alt="Concert scene" />
        <h2>Ms.Swati Kumari</h2>

        <p>
            Hello,I am Swati kumari currently pursuing Electronics and communication engineering in
             C.V Raman Global University.I hold a key to unlocking the potential of Information Technology (IT) companies. My unique
              skill set can lead to exciting career opportunities and significant contributions to shaping the future of 
            technology.As an ECE student interested in IT companies, I have a wide range of career paths to explore
        </p>

    </div>

</section>