<body>
    <div class="container">
        <div class="content">
            <h1>Together, Let Every Voice Resonate!</h1>
            <div class="highlight">
                <h2>Why OneForAll</h2>
            </div>
            <p>Ensuring that every individual's voice is heard is of utmost importance. Many people encounter
                difficulties in being heard, often due to circumstances beyond their control. Technology can be a
                valuable tool in amplifying these voices, but unfortunately, many existing options present challenges in
                terms of usability, configuration, and high costs. This is where the groundbreaking AAC website steps
                in.</p>
            <p>OneForAll helps you get your natural voice, which might be difficult for others to perceive, this website
                aims to achieve the same outcome. However, unlike conventional alternatives, OneForAll stands out as an
                affordable and user-friendly platform, providing straightforward solutions for complex communication
                needs that can be easily incorporated into daily life.</p>
        </div>
        <div class="image">
            <img src="assets/image.png" alt="not found">
        </div>

    </div>
</body>