<section class="contact" id="contact">
    <h1 class="heading">Contact<span>Us</span></h1>
    <p class="heading-description">We are always here for you..</p>
    <div class="container">
        <div class="contact-box">
            <div>
                <i class="fa-solid fa-envelope"></i>
                <h2>Email address <br> <span>Send Email anytime</span></h2>
            </div>
            <div>
                <p>admin@domain.com</p>
                <img src="https://media.istockphoto.com/id/1016416224/vector/new-message-vector-icon.jpg?s=612x612&w=0&k=20&c=icP9QBFaMq67KeUhnF3-7o5GtHJclEFmGhjM5LQrM0s=" height="80px">
            </div>
        </div>
        <div class="contact-box">
            <div>
                <i class="fa-solid fa-phone"></i>
                <h2>Call Us<br> <span>Call us anytime</span></h2>
            </div>
            <div>
                <p>+1234567890</p>
              <img src="https://icon-library.com/images/phone-call-icon/phone-call-icon-27.jpg" height="60px" alt="call">
            </div>
        </div>
    </div>
</section>