<body>
<section class="top">
    <div class="mid">
        <div class="main">
            <h2>THE PICTURE BOARD</h2>
            <div class="description">
                <p>The picture board conatins the images of some most common things that are necessary for day to day life</p>
            </div>
        </div>
    </div>
</section>
<section class="section2">
    <div class="wrapper">
        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJ_nLJ9NfjeFML9UO8hfYkVNJHpLZu4V0j_w&usqp=CAU" alt="image">
            <div class="info">
                <h1>Emotions</h1>
                <p>It contains the  images regarding the emotions that could be found difficult to explain.</p>
                <button class="btn"><a href="#" class=" nav-link active" routerLink="/emotions">View More</a></button>
            </div>
        </div>

        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgX0Q62b1M1oXPaWxxbRRAo9tySVlWRtS5DQ&usqp=CAU" alt="image">
            <div class="info">
                <h1>Grocery & others</h1>
                <p>It contains the basic grocery items of daily use</p>
                <button class="btn"><a href="#" class=" nav-link active" routerLink="/grocery">View More</a></button>
            </div>
        </div>

        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPrqT3Con2ufYXTrhikrOzau141ApWAqs1Qg&usqp=CAU" alt="image">
            <div class="info">
                <h1>Social</h1>
                <p>It contains the bsic social comments that can be made during conversing</p>
                <button class="btn"><a href="#" class=" nav-link active" routerLink="/social">View More</a></button>
            </div>
        </div>

        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmZuMkU25VMXEDaE2LWlmRTp-_1cKzAPwB9Q&usqp=CAU" alt="image">
            <div class="info">
                <h1>Festivals</h1>
                <p>It contains the  images regarding various festivals along with the images  that provide greetings </p>
                <button class="btn"><a href="#" class=" nav-link active" routerLink="/festivals">View More</a></button>
               
            </div>
        </div>
    
        <div class="card">
            <img src="https://images.pexels.com/photos/1268855/pexels-photo-1268855.jpeg?cs=srgb&dl=pexels-asad-photo-maldives-1268855.jpg&fm=jpg" alt="image">
            <div class="info">
                <h1>Tourism</h1>
                <p>Contains some of the places and comments that can be used as a tourist at another place</p>
                <button class="btn"><a href="#" class=" nav-link active" routerLink="/tourism">View More</a></button>
            </div>
        </div>
    </div>
</section>
</body>