.video-container {
    max-width: 550px;
    /* Adjust the value as needed */
    margin: 0 auto;
    /* Center the container horizontally */
}

.video-container video {
    width: 100%;
    height: auto;
}

.highlight {
    background-color: #f3e4c6;
    /* Light cream color for highlighted section */
    color: #333;
    /* Change text color to ensure readability */
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 230px;
    padding-top: 30px;
    padding-bottom: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    width: 100%;
    max-width: 600px;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 20px;
    }
}