.section1{
    text-align: center;
    justify-content: center;
    margin-bottom:5%;
}

.section2 .pictures {
    display: flex;
    margin-left:10%;
    margin-right: 10%;
    width: 344px;
    height: 306px;
    margin-bottom: 5%;
}

.section2 .pictures img{
    margin-right: 45%;
    cursor: pointer;
}

.section3 .pictures2{
    margin-left: 10%;
    margin-right: 10%;
    width: 344px;
    height: 306px;
    margin-bottom: 5%;
    display: flex;

}

.section3 .pictures2 img{
    margin-right: 45%;
    cursor: pointer;
}